<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="text-center">
    <%= image_tag "https://www.lewagon.com/assets/v4/logo-lewagon-9c19fb39a748cd3b1f49059ce0dc6c0dfc4cc2447d5a9a3e01bd2d5a214faf3c.svg", alt: "Le Wagon Logo", width: "200" %>
    <h1 class="mt-4">Welcome to Yelp Clone</h1>
    <%= link_to "Enter YELP", restaurants_path, class: "btn btn-primary btn-lg mt-3" %>
  </div>
</div>
